body{
	font-family: $jua;
}

.post-title{
	font-family: $jua;
}

.post-tags h1, h3, h5{
	font-family: $jua;
}

.catalogue-title, .catalogue-time{
	font-family: $jua;
}

.nav-title{
	font-family: $jua;
}

.nav-container a{
	font-family: $jua;
}